bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.ore/
**/world/
**/world_nether/
**/world_the_end/
**/logs/
**/crash-reports/
**/generated/
**/libraries/
**/versions/
**/bundler/
.env
*.secret
dist/
playground/
ore
